/* delete standart browser styles, root */



/* ----------------header------------------ */



/* hero */




/* features */



/* what-we-do */



/* team */







/* ----------------------OUR CLIENTS------------------ */

.clients-ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid;
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--trnsform-cubic);
}
.icon-clients {
  fill: currentColor;
  transition: fill var(--trnsform-cubic);
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
}
.icon-clients:hover,
.icon-clients:focus {
  fill: currentColor;
}

/* FOOTER!!! */

.footer {
  background: var(--secondary-background-color-theme-light);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  line-height: 1.71;
  color: var(--primary-text-color-theme-light);
}
.email-footer,
.phone-footer {
  line-height: 1.71;
  color: var(--secondary-text-color-4footer-gray);
  transition: color var(--trnsform-cubic);
}
.address-data {
  margin-top: 20px;
}
.addres-text:not(:last-child) {
  margin-bottom: 9px;
}
.studio-footer {
  color: var(--primary-text-color-theme-light);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}
.footer-ul {
  display: flex;
  justify-content: baseline;
  column-gap: 10px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-text-color-theme-light);
  transition: color var(--trnsform-cubic),
    background-color var(--trnsform-cubic);
}
.icon-footer {
  fill: currentColor;
  transition: fill var(--trnsform-cubic), background-color var(--trnsform-cubic);
}
.footer-link-li :hover,
.footer-link-li :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}

.neigborhood {
  width: 231px;
  margin-right: 70px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-form-email {
  display: flex;
}
.footer-form {
  width: 570px;
  margin-left: auto;
}

.footer-input {
  display: inline;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-button {
  display: inline;
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 8px;
  margin-right: 0;
}
.icon-sign-up {
  position: absolute;
  margin-left: 10px;
}

/*=========================== backdrop ============================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-text-color-theme-light);
  padding: 40px;
}
.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  fill: var(--secondary-text-color-theme-dark);
  transition: color var(--trnsform-cubic);
}
.button-close:hover, .button-close:focus{
  fill: var(--accent-color);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* =================== MODAL FORM ========================== */

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  
  
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--trnsform-cubic);
}
.modal-form-name-field {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-color-theme-gray);
  margin-bottom: 4px;
}
.modal-form-lable {
  margin-bottom: 10px;
}
.input-field-icon {
  position: relative;
}
.icon-modal-form {
  position: absolute;
  top: 0;
  left: 15px;
  fill: var(--primary-text-color-theme-dark);
  transition: fill var(--trnsform-cubic);
}
.modal-input:focus + .icon-modal-form {
  fill: var(--accent-color);
}
.modal-form-lable-coment{
  margin-bottom: 15px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--trnsform-cubic);
}
.modal-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-check {
  appearance: none;
  position: absolute;
}

.modal-form-terms {
  color: var(--accent-color);
}
.modal-form-submit {
  width: 200px;
  height: 50px;
  border: 1px solid var(--accent-color);
}
.modal-form-label-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-theme-gray);
}
.modal-form-check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color-theme-dark);
  border-radius: 2px;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  margin-right: 7px;
  transition: background-color var(--trnsform-cubic),
    border-color var(--trnsform-cubic);
}
.modal-form-check-mark {
  display: none;
  fill: var(--primary-text-color-theme-light);
  transition: fill var(--trnsform-cubic);
}
.modal-form-check:checked + .modal-form-check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form-check:checked + .modal-form-check-icon .modal-form-check-mark {
  display: block;
}
.modal-form-check:focus + .modal-form-check-icon {
  box-shadow: 0 0 0 2px var(--accent-color);
}
/*==================================== portfolio ========================= */

.portfolio-section {
  padding-top: 100px;
  padding-bottom: 88px;
}
.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--primary-background-color-theme-light);
  cursor: pointer;
  border-radius: 4px;

  border: solid var(--primary-background-color-theme-light);
  padding: 6px 22px;
  transition: color var(--trnsform-cubic),
    background-color var(--trnsform-cubic), border var(--trnsform-cubic),
    box-shadow var(--trnsform-cubic);
}
.all {
  padding: 6px 25px;
}

.portfolio-li :hover,
.portfolio-li :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  border: solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);

  margin-bottom: 4px;
}
.e-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color-theme-gray);
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-div {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color-for-portfolio);
  border-right: 1px solid var(--border-color-for-portfolio);
  border-bottom: 1px solid var(--border-color-for-portfolio);
}

.project-link {
  display: block;
  transition: box-shadow var(--trnsform-cubic);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-div-overlay {
  position: relative;
  overflow: hidden;
  margin: auto;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--trnsform-cubic);
  height: 100%;
  width: 100%;
  background-color: var(--portfolio-overlay-bg);

  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--primary-text-color-theme-light);
}
.project-link:hover .portfolio-overlay,
.project-link:focus .portfolio-overlay {
  transform: translateY(0%);
}
